
body {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.09em;
}

.board {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    text-align: center;
}

.card {
    border: black 2px solid;
    border-radius: 20px;
    padding: 5px;
    justify-content: space-around;
}

img {
    width: 500px;
    height: 400px;
    border-radius: 20px;
}

form {

}

button {
    background: #77da92;
    border: none;
    text-align: center;
    margin: 13x 120px;
    padding: 10px 20px;
    border-radius: 10px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgb(0, 0, 0), 0 1px 5px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
